.h1 {
    font-size: 30px;
    color: white;
    margin-left: 15px;
}

.a1 {
    color: white;
    font-size: 17px;
}

.n {
    background-color: blue;
}

.tabela {
    margin-top: 15px;
}

.tabela2 {
    margin-top: 15px;
}